.bg-theme-blue {
  background: #344955 !important; 
}
.bg-theme-dark {
  background: #232F34 !important; 
}
.bg-theme-light {
  background: #4A6572 !important; 
}
.bg-theme-accent {
  background: #F9AA33 !important; 
  color:#232F34 !important;
}
.bg-text-blue {
  color: #344955 !important; 
}
.bg-text-dark {
  color: #232F34 !important; 
}
.bg-text-light {
  color: #4A6572 !important; 
}
.bg-text-accent {
  color: #F9AA33 !important; 
}


      body {
        margin:0;padding:0;
        font-family: 'Roboto Slab', serif;
        background: rgba(249,170,51,.08);
      }
:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }